<!-- Items section -->
<div>
  <ng-template ngFor [ngForOf]="$todoItems | async" let-item let-i="index">
    <app-todo-edit
      *ngIf="editedIndex === i; else viewItem"
      [item]="item"
      (saveEdit)="callEditItem($event, i)"
    ></app-todo-edit>
    <ng-template #viewItem>
      <app-todo-item
        [item]="item"
        [disabled]="isEditing"
        (changeDone)="changeDone(item, i)"
        (enableEdit)="enableEdit(i)"
      ></app-todo-item>
    </ng-template>
  </ng-template>
  <app-todo-add
    [disabled]="isEditing"
    (addItem)="callAddItem($event)"
  ></app-todo-add>
</div>
