<form (ngSubmit)="callSave()">
  <div class="row no-gutters mb-1">
    <div class="col-auto">
      <label class="form-check-label custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="item.done"
          (click)="updateDone()"
        >
        <span class="custom-control-label"></span>
      </label>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="todo-text"
        placeholder="Edit Todo"
        [(ngModel)]="item.text"
      >
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary ml-2"
        [disabled]="todoTextTrimmed.length === 0"
      >
          <i class="fas fa-save"></i> save
      </button>
      <button
        type="button"
        class="btn p-0 ml-2 text-primary text-action"
        (click)="cancelEdit()"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</form>
