<div class="row">
  <ng-template #dateSelectorContent>
    <ngb-datepicker
      name="selectedDate"
      [(ngModel)]="selectedDate"
      (select)="selectDate($event, dateSelector);"
    ></ngb-datepicker>
  </ng-template>
  <div class="col-sm-6">
    Updated after:
    <button
      #dateSelector="ngbPopover"
      type="button"
      class="btn py-0 px-1 btn-link datetime-selector"
      [ngbPopover]="dateSelectorContent"
      popoverTitle="Select day"
      placement="bottom-left"
      autoClose="outside"
    >
      <span *ngIf="!isValidTs">No filter</span>
      <span *ngIf="isValidTs">{{ selectedTimeTs | date: 'shortDate' }}</span>
    </button>
    <button
      *ngIf="isValidTs"
      type="button"
      class="btn pl-2 text-primary text-action"
      (click)="removeFilter()"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="col-sm-6"></div>
</div>
